{% extends 'base.html.twig' %}

{% block title %}{{'product.header'|trans}}{% endblock %}

{% block main %}
    <div class="row">
        <h1 class="col">{{'product.header'|trans}}</h1>
        <div class="col"><a class="btn btn-primary float-right" href="{{ path('product_new') }}">{{'product.add'|trans}}</a></div>
    </div>
    <div class="row">
        <div class="col">
            <table class="datatable table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>{{'product.label'|trans}}</th>
                        <th>{{'product.price'|trans}}</th>
                        <th width="10%">{{'actions'|trans}}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                        <tr>
                            <td>{{ product.id }}</td>
                            <td>{{ product.label }}</td>
                            <td>{{ product.price }}</td>
                            <td>
                                <ul class="actions">
                                    <li>
                                        <a href="{{ path('product_show', {'id': product.id}) }}"   ><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    </li>
                                    <li>
                                        <a href="{{ path('product_edit', {'id': product.id}) }}"   ><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">{{'no_records'|trans}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}