{% extends 'base.html.twig' %}

{% block title %}{{'product.product'|trans}} #{{product.id}}{% endblock %}

{% block main %}
    <div class="row">
        <h1 class="col">{{'product.product'|trans}} #{{product.id}}</h1>
    </div>
    <div class="row buttons">
        <div class="col">
            {{ include('product/_delete_form.html.twig') }}
        </div>
        <div class="col text-right">
            <a class="btn btn-primary" href="{{ path('homepage') }}">{{'back'|trans}}</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <tbody>
                    <tr>
                        <th>{{'product.label'|trans}}</th>
                        <td>{{ product.label }}</td>
                    </tr>
                    <tr>
                        <th>{{'product.text'|trans}}</th>
                        <td>{{ product.text }}</td>
                    </tr>
                    <tr>
                        <th>{{'product.color'|trans}}</th>
                        <td style="background-color: {{product.color}}"></td>
                    </tr>
                    <tr>
                        <th>{{'product.price'|trans}}</th>
                        <td>{{ product.price }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}