{% extends 'base.html.twig' %}

{% block title %}MenuLabel index{% endblock %}

{% block main %}
    <div class="row">
        <h1 class="col">{{'menu_labels.header'|trans}}</h1>
        <div class="col"><a class="btn btn-primary float-right" href="{{ path('menu_label_new') }}">{{'menu_labels.add'|trans}}</a></div>
    </div>
    <div class="row">
        <div class="col">
            <table class="datatable table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>{{'menu_labels.label'|trans}}</th>
                        <th>{{'actions'|trans}}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for menu_label in menu_labels %}
                        <tr>
                            <td>{{ menu_label.id }}</td>
                            <td>{{ menu_label.label }}</td>
                            <td>
                                <ul class="actions">
                                    <li>
                                        <a href="{{ path('menu_label_show', {'id': menu_label.id}) }}"   ><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    </li>
                                    <li>
                                        <a href="{{ path('menu_label_edit', {'id': menu_label.id}) }}"   ><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3">{{'no_records'|trans}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}