{% extends 'base.html.twig' %}

{% block title %}{{'users.edit'|trans}} #{{user.id}}{% endblock %}

{% block main %}
    <div class="row">
        <h1 class="col">{{'users.edit'|trans}} #{{user.id}}</h1>
    </div>
    <div class="row buttons">
        <div class="col">
            <a class="btn btn-primary" href="{{ path('user_index') }}">{{'back'|trans}}</a>
        </div>
        <div class="col text-right">
            {{ include('user/_delete_form.html.twig') }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
        </div>
    </div>
{% endblock %}